@font-face {
  font-family: "gotham_proregular";
  src: url("../../assets/fonts/gothaproreg-webfont.eot");
  src: url("../../assets/fonts/gothaproreg-webfont.eot?#iefix") format("embedded-opentype"), url("../../assets/fonts/gothaproreg-webfont.woff") format("woff"), url("../../assets/fonts/gothaproreg-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body{
  -webkit-font-smoothing: antialiased;
  font-family: "gotham_proregular", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "gotham_proregular", Helvetica, Arial, sans-serif;
  color: black;
}

.navigation-wrapper {
  font-family: "gotham_proregular", Helvetica, Arial, sans-serif;
  background: #6fc2d5;
  color: #fff;
}

.site-name {
  margin-top: 0;
  margin-bottom: 1em;а

  a {
    display: block;
    height: 31px;
    position: relative;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
}

.top-navigation {
  margin-bottom: 0;
  line-height: 31px;

  li {
    a {
      text-transform: none;
      color: #fff;
      font-size: .9em;
      font-weight: normal;
    }
  }
}

.js {
  .nav {
    ul {
      max-height: none;
    }
  }
}

.article-author-side {
  display: block;
  min-width: 240px;

  @media only screen and (max-width: 37.5em) {
    margin-left: 8.33333%;
    margin-right: 8.33333%;

    .fb-like-box {
      display: none;
    }
  }

  p {
    width: 100%;
    max-width: 100%;
    font-size: 14px;
    line-height: 22px;
    font-style: normal;
  }

  .subscribe {
    h3 {
      margin: 40px 0 18px 0;
      max-width: 100%;
      font-size: 20px;
      line-height: 20px;
      color: black;
      font-weight: normal;
    }

    iframe {
      margin-bottom: 30px;
    }
  }
}

#main{
  margin-top:60px;
}

#index, #main {
  article {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

    h2 {
      margin: 0 0 .5em 0;
      line-height: 1.4em;

      a, a:visited {
        color: #000;
      }
    }
    h4 {
      margin:15px 0 6px;
    }

    ul{
      padding-left:0;
      margin: 8px 0 16px;

      li{
        margin-bottom: 6px;
        list-style-type: circle;
      }
    }

    time {
      display: block;
      font-size: 14px;
      color: #b8b8b8;
      margin-bottom: 1.5em;
      text-transform: uppercase;
    }

    .more {
      color: #000;
      text-decoration: underline;
    }

    p {
      display: block;
      margin: 0 0 1.5em 0;
      font-size: 16px;
      line-height: 24px;
      color: black;

      img {
        width: 100%;
        height: auto;
      }
    }

    p+p {
      text-indent: 0;
    }

    .social {
      margin: 2em 0;
    }
  }
}

