@font-face {
  font-family: "AvenirNext Demibold";
  src: url('../../assets/fonts/AvenirNextCyr-Demi..eot?#iefix') format('embedded-opentype'), url('../../assets/fonts/AvenirNextCyr-Demi.otf') format('opentype'),
	     url('../../assets/fonts/AvenirNextCyr-Demi.woff') format('woff'), url('../../assets/fonts/AvenirNextCyr-Demi.ttf') format('truetype'), url('../../assets/fonts/AvenirNextCyr-Demi.svg#AvenirNextCyr-Demi') format('svg');
  font-weight: 700;
  font-style: normal;
}


body{
  -webkit-font-smoothing: antialiased;
  font-family: $base-font
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
  color: #000;
  font-weight: normal;
}

.visible-small {
  display: none !important;

  @media only screen and (max-width: 37.5em) {
    display: block !important;
  }
}

.site-name {
  margin-top: 0;
  margin-bottom: 1em;
  width: 100%;

  a {
    display: block;
    font-size: 30px;
    color: #000;
    position: relative;
    border: none;

    img {
      max-height: 100%;
      max-width: 100%;
      width: auto;
      height: auto;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }

  p {
    font-family: $base-font;
    font-size: 16px;
    line-height: 22px;
    margin-top: 7px;
  }
}

.top-navigation {
  margin-bottom: 0;
  line-height: 31px;

  li {
    a {
      text-transform: none;
      color: #f5a623;
      font-size: .9em;
      font-weight: normal;
      border-bottom: 1px solid rgba(251, 192, 57, .5);
      border-bottom-style: inset;

      &:hover {
        color: #2b8ee1;
        border-bottom: 1px solid rgba(36, 120, 217, .5);
      }
    }
  }
}

.js {
  .nav {
    ul {
      max-height: none;
    }
  }
}

.article-author-side {
  display: block;
  min-width: 240px;

  @media only screen and (max-width: 37.5em) {
    margin-left: 8.33333%;
    margin-right: 8.33333%;
  }

  .sidebar-logo-wrap {
    @include clearfix;
    width: 100%;

    .sidebar-logo {
      display: block;
      float: left;
      width: 160px;
      height: 26px;
      background: url("/images/sidebar-logo.svg");
      background-size: 160px 26px;
      border: none;
      margin: 0 0 20px 3px;
    }
  }

  p {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
  }

  .subscribe {
    h3 {
      margin: 40px 0 18px 0;
      max-width: 100%;
      font-size: 22px;
      line-height: 22px;
      color: #000;
      font-weight: normal;
    }

    iframe {
      margin-bottom: 30px;
    }
  }
}

#main {
  margin-top: 60px;
}

#main {
  h1 {
    a {
      color: #000;
      border-bottom: 1px solid rgba(54, 54, 54, .2);

      &:hover {
        color: $linkcolorhover;
        border-bottom: $underlinehover;
      }
    }
  }

  article {
    margin-top: 2em;

    &:first-child {
      margin-top: 0;
    }

    h2 {
      margin: 40px 0 14px 0;
      line-height: 1.4em;

    }

    h4 {
      margin: 20px 0 15px;
    }

    ul, ol {
      padding-left: 0;
      margin: 30px 0 40px 50px;

      li {
        margin-bottom: 16px;
        color: #000;
        line-height: 1.5em;
      }
    }

    ul {
      li {
        list-style-type: circle;
      }
    }

    time {
      display: block;
      font-size: 16px;
      color: #b8b8b8;
      margin: -8px 0 16px
    }


    p {
      display: block;
      margin: 0 0 1.5em 0;
      font-size: 18px;
      line-height: 28px;
      color: #000;

      img {
        max-width: 100%;

        .responsive {
          width: 100%;
        }
      }
    }

    p+p {
      text-indent: 0;
    }

    .social {
      margin: 2em 0;
    }
  }
}

#index {
  article {
    margin-bottom: 60px;
  }
}
