{% assign author = site.owner %}

<p>{{ author.bio }}</p>

<div class="subscribe">
  <h3>Подписка на новости</h3>
  <iframe src="https://infeedl.github.io/infeedl-landing/blog-subscribe.html" width="240" height="50" frameborder="0"></iframe>
</div>

<!--{% if author.email %}<a href="mailto:{{ author.email }}" class="author-social" target="_blank"><i class="fa fa-fw fa-envelope-square"></i> Email</a>{% endif %}-->

{% if author.facebook %}
<div class="fb-like-box" data-href="https://www.facebook.com/{{ author.facebook }}" data-width="240" data-height="200" data-colorscheme="light" data-show-faces="true" data-header="false" data-stream="false" data-show-border="true"></div>
{% endif %}
